@model AppyController.Models.FileUpload

@{
    ViewData["Title"] = "D3 POC App";


}

<div class="row">
    <div class="col-md-12 form-row">
        <div class="card shadow col-md-5 button" id="btnOpenUploadReceiptModal">
            <div class="form-group" style="margin-top: 3%">
                <h2 class="text-lg-center">Upload Receipt</h2>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="card shadow col-md-5 button" id="btnOpenUploadContractModal">
            <div class="form-group" style="margin-top: 3%">
                <h2 class="text-lg-center">Upload Contract</h2>
            </div>
        </div>
    </div>
    <div class="" style="margin: 10px"></div>
    <div class="col-md-12 form-row">
        <div class="card shadow col-md-5 button" id="btnOpenReceiptSearchModal">
            <div class="form-group" style="margin-top: 3%">
                <h2 class="text-lg-center">Search Receipt</h2>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="card shadow col-md-5 button" id="btnOpenContractSearchModal">
            <div class="form-group" style="margin-top: 3%">
                <h2 class="text-lg-center">Search Contract</h2>
            </div>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="contractSearchModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>
                </div>
                <form class="form-horizontal" id="1">

                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Contract Name</label>
                                <input class="form-control" type="text" name="contractPartnerSearch" id="contractPartnerSearch" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Contract Type</label>
                                <select class="form-control" id="contractTypeSearch">
                                    <option value="-1" selected>Select Contract Type</option>
                                    <option value="IT Services">IT Services</option>
                                    <option value="Software Development">Software Development</option>
                                    <option value="Product Purchases">Product Purchases </option>
                                    <option value="Business Management">Business Management</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" name="contractDateSearch" id="contractDateSearch" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="list-group" id="ul-contract-files" style="font-size: 11px; overflow: auto; height: 500px;"></ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-left"></div>
                        <button type="button" class="btn btn-success btn-sm" id="btnSearcContractDoc"><span class="fa fa-search"></span> Search</button>
                        <button type="reset" class="btn btn-link text-danger btn-sm" id="btnClose">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="receiptSearchModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>
                </div>
                <form class="form-horizontal" id="1">

                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Client's Name</label>
                                <input class="form-control" type="text" name="receiptPartnerSearch" id="receiptPartnerSearch" required />
                            </div>
                            <div class="col-md-6">
                                <label for="filter">Receipt Type</label>
                                <select class="form-control" id="receiptTypeSearch">
                                    <option value="-1" selected>Select Receipt Type</option>
                                    <option value="Systems Integration">Systems Integration</option>
                                    <option value="Customer Care Support">Customer Care Support</option>
                                    <option value="Application Upgrade">Application Upgrade</option>
                                    <option value="Application Downgrade">Application Downgrade</option>
                                    <option value="Application Purchase">Application Purchase</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" name="receiptDateSearch" id="receiptDateSearch" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="list-group" id="ul-receipt-files" style="font-size: 11px; overflow: auto; height: 500px;"></ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-left"></div>
                        <button type="button" class="btn btn-success btn-sm" id="btnSearcDoc"><span class="fa fa-search"></span> Search</button>
                        <button type="reset" class="btn btn-link text-danger btn-sm" id="btnClose">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadContractModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>
                </div>
                <form class="form-horizontal" id="contractForm" enctype="multipart/form-data" method="POST">

                    <div class="modal-body">
                        <div class="form-group row" style="display: none">
                            <dl>
                                <dt>
                                    <label> Upload Your File </label>
                                </dt>
                                <dd>
                                    <input name="FileUpload.FormFile" type="file" id="txtUploadContractfile" />
                                </dd>
                            </dl>

                            <button type="submit" class="btn btn-primary" id="btnSumbitContract">Submit File</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Contract Name</label>
                                <input class="form-control" type="text" name="contractName" id="contractName" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Amount</label>
                                <input class="form-control moneyformat" type="text" name="contractAmount" id="contractAmount" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" name="contractDate" id="contractDate" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Contract Type</label>
                                <select class="form-control" id="contractType">
                                    <option value="-1" selected>Select Contract Type</option>
                                    <option value="IT Services">IT Services</option>
                                    <option value="Software Development">Software Development</option>
                                    <option value="Product Purchases">Product Purchases </option>
                                    <option value="Business Management">Business Management</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Partner's Name</label>
                                <input class="form-control" type="text" name="contractPartner" id="contractPartner" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">.</label>
                                <button type="button" class="btn btn-primary form-control" id="btnUploadContractFile">Select File</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">File Name: </label> <span id="contractFileName" style="color: lightseagreen;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left"></div>
                        <button type="button" class="btn btn-primary text-right project-add-button" id="btnSendContractFile">Upload File</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadReceiptModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="far fa-times-circle text-danger"></i> </button>
                </div>
                <form class="form-horizontal" id="contractForm" enctype="multipart/form-data" method="POST">

                    <div class="modal-body">
                        <div class="form-group row" style="display: none">
                            <dl>
                                <dt>
                                    <label> Upload Your File </label>
                                </dt>
                                <dd>
                                    <input name="FileUpload.FormFile" type="file" id="txtUploadReceiptfile" />
                                </dd>
                            </dl>

                            <button type="submit" class="btn btn-primary" id="btnSumbitReceipt">Submit File</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Amount</label>
                                <input class="form-control moneyformat" type="text" name="receiptAmount" id="receiptAmount" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" name="receiptDate" id="receiptDate" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Receipt Type</label>
                                <select class="form-control" id="receiptType">
                                    <option value="-1" selected>Select Receipt Type</option>
                                    <option value="Systems Integration">Systems Integration</option>
                                    <option value="Customer Care Support">Customer Care Support</option>
                                    <option value="Application Upgrade">Application Upgrade</option>
                                    <option value="Application Downgrade">Application Downgrade</option>
                                    <option value="Application Purchase">Application Purchase</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Partner's / Client's Name</label>
                                <input class="form-control" type="text" name="receiptPartner" id="receiptPartner" required />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">.</label>
                                <button type="button" class="btn btn-primary form-control" id="btnUploadReceiptFile">Select File</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">File Name: </label> <span id="receiptFileName" style="color: lightseagreen;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left"></div>
                        <button type="button" class="btn btn-primary text-right project-add-button" id="btnSendReceiptFile">Upload File</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/saitama/PageJSFiles/Contract.js" asp-append-version="true"></script>
    <script src="~/js/saitama/PageJSFiles/Receipt.js" asp-append-version="true"></script>
}

