@{
    ViewData["Title"] = "Language";

}

<link href="~/css/object.main.css" rel="stylesheet" />
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="form-group row app-header-row">
                <div class="col-md-12">
                    <div class="text-center" id="render-file"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/saitama/PageJSFiles/Language.js" asp-append-version="true"></script>
}

